body{
    background-color: rgb(54,54,54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

body>nav{
    height: 60px;
    padding-bottom:0px!important;
    padding-top: 0px!important;
}

@media screen and (max-width:1200px) {
    body>nav{
        min-height: 60px;
        height: auto;
        padding-bottom: auto!important;
        padding-top: 5px!important;
    }
}

.navbar-toggler{
    display: none;
}

.navbar{
    overflow:hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding:.5rem 1rem;
}

.navbar-title{
    color: white;
    display: inline-block;
    font-size: 1.25rem;
    line-height: inherit;
    padding-top: 0.3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
}

a{
    text-decoration: none;
    background-color: transparent;
}

#navbar{
    display: flex;
    flex-direction: row;
    padding:0px;
    height: 100%;
}

.nav-link{
    color:white;
    text-align: center;
    line-height: 15px;
    display: block;
    padding:.5rem 1rem;
}


.nav-item{
    display: inline-flex;
    color: white;
    padding-top: 13px;
}

.active{
    background-color: rgb(75,75,75);
}

#navbar>li:hover{
    background-color: rgb(60,60,60);
}



.fixed-top{
    position:fixed;
    top:0;
    right:0;
    left:0;
    z-index:5;
}

.home-main{
    width:100%;
}

.row{
    display: flex;
    flex-wrap:wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.home-size{
    max-width:1024px;
}

.col{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

*, ::after, ::before{
    box-sizing: border-box;
}

/*.ssg-header{
    color: white;
    font-size: 1.5em;
    margin:10px 0px;
}*/

/*.ssg-separator{
    width:100%;
    border-bottom:3px solid #2A2A2A;
    margin-bottom:10px;
}*/

#home-content{
    text-align: center;
}

.home-container{
    display: inline-block;
    border-radius: 5px;
    width: 95%;
    min-height: 350px;
    position: relative;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

/*.info-game{
    position: unset;
    background-color: #2a2a2a;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    min-height: 350px;
    transition: width 0.5s;
}*/

/*pas implémenté dans js a voir utiliter
.info-game>.info-img{
    width:100%;
    display:unset;
    padding:0px;
}*/

/*.info-game>div>img{
    display:inline-block;
    max-height: 150px;
    min-height: 150px;
    width:100%;
    object-fit:cover;
    border-radius: 5px 5px 0px 0px;
    transition: filter 0.5s;
    padding:0px;
    margin: 0px;
    filter: brightness(50%) blur(0px);
}*/

/*.info-content{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
    vertical-align: top;
    padding: 0px;
}*/

/*.info-header{
    display:block;
    border-radius:0px;
    margin-top:4px;
    background:#111;
    padding: 0px 2px 0px 10px;
    text-align: center;
}*/

h4{
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-family:inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    margin-top: 0;
}

/*.info-txt-container{
    font-size:13px;
    color:#bbb;
}*/

input{
    outline: none;
    border:none;
}